[pull]
	rebase = true
[rebase]
	autoStash = true
[init]
	defaultBranch = main
[alias]
	ad  = add
	br  = branch
	cia = commit --amend
	ci  = commit
	cin = commit --amend --no-edit
	cl  = clone
	co  = checkout
	di  = diff --color=always
	dic = diff --cached --color=always
	dtd = difftool --dir-diff
	dt  = difftool
	lo  = log
	lon = log --name-status
	me  = merge
	pl  = pull
	ps  = push
	rb  = rebase
	reh = reset --hard
	re  = restore
	rss = restore --staged
	rsw = restore --staged --worktree
	sa  = stash
	sh  = show
	sp  = stash pop --index
	st  = status
	sw  = switch
[diff]
	tool = meld
[difftool]
	prompt = false
